language: generic
services:
 - docker

# BE CAREFUL: There is a risk of outputting real credentials to logs here!
before_install:
 - bash testscript.sh
 - echo "$DOCKER_PASSWORD" | docker login -u="$DOCKER_USERNAME" --password-stdin
 - docker build -t vladd95/vladd95test:$TRAVIS_BUILD_NUMBER .

script:
 - docker push vladd95/vladd95test:$TRAVIS_BUILD_NUMBER
